
body {
    margin: 0;
    padding: 0;
    font-family: "Righteous", cursive;
}

aside {
    position: fixed;
    width: 5vw;
    height: 100vh;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    background-color: #333333;
    z-index: 2;
}

main {
    position: absolute;
    left: 5vw;
}

#mainContainer {
    position: relative;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #1e1e1e;
    color: white;
    height: 100vh;
}

#mainContainer:first-of-type h2 {
    text-align: center;
    padding: 60px 0 20px 0;
    font-size: 5rem;
}

#mainContainer:first-of-type p {
    padding: 0 50px 30px 50px;
    font-size: 2rem;
}

hr {
    border-top: 10px solid white;
}

svg {
    height: 50px;
    width: 50px;
    fill: url('#gradient');
}

svg:hover {
    fill: #1e1e1e;
}

.iconBox {
    padding-bottom: 40px;
}

.iconDescBox {
    position: relative;
    display: none;
    left: 60px;
    top: -40px;
    height: 30px;
    width: max-content;
    background-color: #5F6A72;
    color: #333333;
    font-size: 1.15rem;
    text-align: center;
    text-wrap: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
}

svg:hover + .iconDescBox {
    display: inline-block;
    text-decoration: none;
    animation: animation;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
}

@keyframes animation {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(60px);
    }
}

a:hover {
    text-decoration: none;
}
